body,html {
    box-shadow: none;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.body {
    background-color: rgb(39, 39, 39);
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.title {
    color: rgb(228, 228, 228);
}

.input__number {
    margin: 1rem auto; 
    background-color: rgb(10, 10, 10);
    color: rgb(228, 228, 228);
    height: 3rem;
    width: 3rem;
    border: 0;
    text-align: center;
    font-size: 1rem;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button {
    background-color: greenyellow;
    color: rgb(10, 10, 10);
    height: 3rem;
    width: 10rem;
    margin: 1rem;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}
