body {
    background-color: rgb(163, 206, 191);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: left;
}

label {
    font-size: small;
}
input, select {
    margin: 0.1rem 0 0.6rem 0;
}

button {
    margin-bottom: 1.6rem;
}

div {
    display: flex;
    margin: 0.5rem 0;
    align-items: center;
}

input[type="checkbox" i], input[type="radio" i] {
    margin: 0 0.5rem;
}